* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: #ffffff;
    box-sizing: border-box;

}

body {

    text-align: center;
    margin-top: 30px;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input,
button {
    background-color: #ffffff;
    padding: 10px;
    color: black;
    display: block;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}


button {
    background-color: #11e99a;
    color: black;
    padding: 5px;
    cursor: pointer;

}

button:hover {
    background-color: rgb(20, 221, 9);
}

.msg-formulario {
    background-color: #11e99a;
    color: black;
    padding: 8px;
    display: none;
}

.msg-erro {
    background-color: red;
    padding: 8px;
    display: none;
}

h1 {
    padding: 10px;
    font-size: 40px;
}